{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>TCGC - Follow Up System</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

   <link rel="stylesheet" href="{% static 'css/multi_form.css' %}" />

   <link rel="stylesheet" href="{% static 'css/passport.css' %}" />
   <!-- site css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   <!-- responsive css -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
   <!-- color css -->

   <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}" />

   <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" />
   <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
   <!-- custom css -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
      <script>
         $(document).ready(function()
         {
            var $team_lead=$('#team_lead'),
                $team_member=$('#team_member'),
                $options=$team_member.find('option');
                $team_lead.on('change', function()
                {
                  $team_member.html($options.filter('[value="'+this.value+'"]'));
                }).trigger('change');
   
         
   
         });


function ddlselect()
{
         var d = document.getElementById("team_lead");
         var outputText = d.options[d.selectedIndex].text;

// Add an event listener to the select field to capture changes
         document.getElementById("outputText").value = outputText;

}
   
      </script>
</head>

<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">


            
      {% include 'team_members/includes/navbar.html' %}

      
   



          <!-- CONTENT   -->

{% block content %}



{% endblock %}

    <!-- FOOTER  -->

{% include 'team_members/includes/footer.html' %}