asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
django-crispy-forms==2.3
django-environ==0.11.2
django-storages==1.14.4
django-tinymce==4.1.0
idna==3.10
pillow==10.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
requests==2.32.3
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
