{% extends "coordinators/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title d-flex justify-content-between">
                <h2>Create Student Profile for {{ member.first_name }} {{ member.last_name }}</h2>
                <a href="{% url 'registration' %}" class="btn btn-secondary">Back to Registration</a>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card shadow-lg rounded-5">
                <div class="card-body p-5">
                    <form method="POST" class="student_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="font-size: 30px; color: brown; font-weight: bold;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ student_form.errors }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="parent_address">Parent Address</label>
                                {{ student_form.parent_address }}
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="parent_phone_number">Parent Phone Number</label>
                                {{ student_form.parent_phone_number }}
                            </div>

                            <div class="col-md-12">
                                <h5 style="background-color: lightblue; padding: 10px; border-radius: 5px;">Educational Background</h5>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="university_name">University Name</label>
                                {{ student_form.university_name }}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="program_of_study">Program of Study</label>
                                {{ student_form.program_of_study }}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="program">Program</label>
                                {{ student_form.program }}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="work_type">Work Type</label>
                                {{ student_form.work_type }}
                            </div>

                            <div class="col-md-12">
                                <h5 style="background-color: lightblue; padding: 10px; border-radius: 5px;">Work Experience</h5>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="company_name">Company Name</label>
                                {{ student_form.company_name }}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="position">Position</label>
                                {{ student_form.position }}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="duration">Duration</label>
                                {{ student_form.duration }}
                            </div>

                            <div class="form-group col-md-12">
                                <label for="responsibilities">Responsibilities</label>
                                {{ student_form.responsibilities }}
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-success mt-4 shadow-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
