{% extends "coordinators/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title d-flex justify-content-between">
                <h2>Choose Member</h2>
                <a href="{% url 'registration' %}" class="btn btn-secondary">Back to Registration</a>
            </div>
        </div>

        <!-- SearchTable -->
        <div class="container deposit p-5 shadow-lg rounded rounded-5">
            <div class="row mt-3 table-row1">
                <div class="col-md-12 justify-content-center text-center m-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-white border"
                            placeholder="Search..." id="searchInput">
                        <div class="">
                            <button class="btn btn-success py-3" type="button"
                                onclick="searchTable()">Search</button>
                        </div>
                    </div>

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li style="font-size: 30px; color: brown; font-weight: bold;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <!-- table -->
                    <table class="table table-responsive table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                                <th>Occupation</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                            <tr>
                                <td>{{ member.first_name }}</td>
                                <td>{{ member.middle_name }}</td>
                                <td>{{ member.last_name }}</td>
                                <td>{{ member.date_of_birth }}</td>
                                <td>{{ member.occupation }}</td>
                                <td>{{ member.phone_no }}</td>
                                <td>
                                    <button class="btn shadow-sm" style="background-color: orangered;"
                                    type="button">
                                    <a href="{% url 'create_business_profile' member.id %}"
                                        style="font-weight: bold; color: white;">Register KBN</a>
                                </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
