{% extends 'coordinators/base.html' %}

{% load static %}

{% block content %}
      
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>

        {% include 'coordinators/includes/alerts.html' %}
        <div class="row column1">
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'coor_register_member' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-id-badge" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Bio_Data</span><br><span style="color: #FF5F1F;"><b>{{ member }}</b> </span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'list_members' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-users" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Family</span> <br> <span style="color: #FF5F1F;"><b>{{ member_inctive }}</b></span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'list_members_child' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-users" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Children</span> <br> <span style="color: #FF5F1F;"><b>{{ member_inctive }}</b></span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'teenager_member_list' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-users" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Teenager</span> <br> <span style="color: #FF5F1F;"><b>{{ member_inctive }}</b></span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'list_members_student' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-graduation-cap" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Student</span> <br> <span style="color: #FF5F1F;"><b>{{ member_male }}</b></span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'list_members_nysc' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-user-graduate" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">NYSC</span> <br> <span style="color: #FF5F1F;"><b>{{ member_male }}</b></span></p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-6 col-lg-3">
                <a href="{% url 'kbn_bus_car' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-briefcase" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">KBN</span> <br><span style="color: #FF5F1F;"><b>{{ member_female }}</b></span> </p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'create_household' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-briefcase" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">HouseHold</span> <br><span style="color: #FF5F1F;"><b>{{ member_female }}</b></span> </p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="{% url 'kbn_bus_car' %}">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-briefcase" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">KCC</span> <br><span style="color: #FF5F1F;"><b>{{ member_female }}</b></span> </p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <div class="full counter_section margin_bottom_30">
                        <div class="couter_icon">
                            <div>
                                <i class="fa fa-briefcase" style="font-size: 2em; color: orange;"></i>
                            </div>
                        </div>
                        <div class="counter_no">
                            <div>
                                <p class="total_no"><span style="color: green;">Service Team</span> <br><span style="color: #FF5F1F;"><b>{{ member_female }}</b></span> </p>
                                <p class="head_couter pb-2 pt-5"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Add Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
