<!-- asset_list.html -->
{% extends 'mis/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Assets</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for asset in assets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <a href="{% url 'asset_detail' asset.pk %}" class="font-weight-bold text-success">{{ asset.name }}</a> - Department: {{ asset.department.name }} - Unit: {{ asset.unit }}
                    </span>
                    <div>
                        <a href="{% url 'asset_edit' asset.pk %}" class="btn btn-info btn-sm">Edit</a>
                        <form action="{% url 'asset_delete' asset.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No assets found.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'asset_create' %}" class="btn btn-primary mt-3">Add new asset</a>
        </div>
    </div>
</div>
{% endblock %}
