{% extends "kbn_career/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Resource List</h2>
            </div>
        </div>
    </div>

    <!-- Search form -->
    <div class="row mb-4">
        <div class="col-md-12">
            <form method="GET" action="">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search by title" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for document in documents %}
            {% if document.file and document.file.name %}
                <div class="col-md-3">
                    <div class="card shadow-lg rounded-5 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ document.title }}</h5>
                            <p class="card-text">Size: {{ document.file.size}} KB</p>
                            <a href="{{ document.file.url }}" class="btn btn-primary" download="{{ document.title }}">Download</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
