{% load static %}


                    
                     
<!-- footer -->

   

</div>
<!-- end dashboard inner -->
</div>
</div> 
</div>

</body>
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- wow animation -->
<script src="{% static 'js/animate.js' %}"></script>
<!-- select country -->
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<!-- chart js -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/analyser.js' %}"></script>
<!-- nice scrollbar -->
<script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="{% static 'js/chart_custom_style1.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/multi_form.js' %}"></script>
<script src="{% static 'js/passport.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>

</html>