{% extends "kbn/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Send Resource to Community</h2>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card shadow-lg rounded-5">
                
                <div class="card-body p-5">
                    <form method="POST" class="chart_of_account" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="font-size: 30px; color: brown; font-weight: bold;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.errors }}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="general_ledger_account_name">Video Name</label>
                                <input type="text" class="form-control bg-light"
                                       id="general_ledger_account_name"
                                       name="title">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="general_ledger_account_name">Youtube Link</label>
                                <input type="text" class="form-control bg-light"
                                       id="general_ledger_account_name"
                                       name="link">
                            </div>
                           
                            <div class="form-group col-md-4">
                                <label for="general_ledger_account_name">Category</label>
                                <select class="form-control bg-light" id="category" name="category">
                                    <option value="ST">Student</option>
                                    <option value="CA">Career</option>
                                    <option value="BU">Business</option>
                                </select>
                            </div>
                            <!-- <div class="form-group col-md-4">
                                <label for="file">File</label>
                                <input type="file" class="form-control-file" id="file" name="file">
                            </div> -->
                          
                            <div class="text-right"> <!-- Aligns content to the right -->
                                <button type="submit" class="btn btn-success mt-4 shadow-sm">Upload</button>
                            </div>
                        </div>
                        <!-- <a href="" style="color: green; font-weight: bold;">Back to Business Sector List</a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
