{% extends 'admin_staff/base.html' %}

{% load static %}

{% block content %}
      
            {% include 'admin_staff/includes/alerts.html' %}
                                    
            {{ form.errors }}
              

                  <div class="midde_cont">
                    <div class="container-fluid">
                       <div class="row column_title">
                          <div class="col-md-12">
                             <div class="page_title">
                                <h2>Dashboard</h2>
                             </div>
                          </div>
                       </div>
                       <div class="row column1">
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
     
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                      <p class="total_no">#</p>
                                      <p class="head_couter pb-2 pt-5">#</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
     
            
         
            
                 
            
                  {% endblock %}