<!-- follow_app/templates/follow_app/notifications.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Your Notifications</h2>
    <ul>
        {% for notification in notifications %}
            <li>
                <strong>{{ notification.message.subject }}</strong><br>
                <small>Received on: {{ notification.created_at }}</small><br>
                <small>Status: {% if not notification.is_read %} Unread {% else %} Read {% endif %}</small>
            </li>
        {% empty %}
            <li>No new notifications.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
