{% extends 'admin_staff/base.html' %}
{% load static %}

{% block content %}
            
{% include 'admin_staff/includes/alerts.html' %}
{{ form.errors }}

<style>
    .table img {
        max-width: 100%;
        height: auto;
    }
    .table {
        table-layout: auto;
        width: 100%;
    }
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        word-wrap: break-word;
    }
    .table th {
        white-space: nowrap;
    }
</style>

<!-- dashboard inner -->
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Display NYSC Members</h2>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="table_section padding_infor_info">
                    <div class="table-responsive">
                        <div class="input-group mb-1">
                            <input type="text" class="form-control bg-light" placeholder="Search..." id="searchInput">
                            <div class="">
                                <button class="btn" style="background-color: #FF4500;" type="button" onclick="searchTable()">Search</button>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Photo</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                   
                                    <th>University</th>
                                    <th>Program</th>
                                    <th>Year of Graduation</th>
                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nysc in members %}
                                    <tr data-href="">
                                        <td>
                                            <img style="width: 40px; height: 50px;" class="img-responsive rounded-circle" src="{{ nysc.member.image.url }}" 
                                            onerror="this.src='{% static 'images/avatar.jpg' %}'" alt="Member Photo" />
                                        </td>
                                        <td>{{ nysc.member.first_name }}</td>
                                        <td>{{ nysc.member.last_name }}</td>
                                        <td>{{ nysc.member.phone_no }}</td>
                                    
                                        <td>{{ nysc.university_name }}</td>
                                        <td>{{ nysc.program_of_study }}</td>
                                        <td>{{ nysc.year_of_graduation }}</td>
                                        
                                        <td>
                                            <a href="{% url 'nysc_detail' nysc.id %}">View Details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", function() {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>

{% endblock %}
